/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.col-1 {
  float:left;
  width: 32%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.col-2 {
  float: left;
  width: 66%;
  height: 100%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.product-1 {
  clear: both;
  float: left;
  width: 32%;
  margin-right: 1%;
  margin-top: 1%;
}

.product-2 {
  float: left;
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.product-3 {
  float:left;
  width: 32%;
  margin-left: 1%;
  margin-top: 1%;
}
