/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#col-1 {
  float:left;
  width:31.3%;
}

#col-2 {
  float:left;
  width: 64.6%;
}

#col-3 {
  display: block;
  clear: both;
}

section{
  margin: 1%;
}

.deals {
  clear: both;
}

.border_right {
  float: left;
  width:33.33%;
  margin:0 1%;
}
