/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.featured-row {
  column-count: 2;
}

.featured-row section {
  height: 575px;
  margin-bottom: 20px;
}

.deals-row {
  column-count: 3;
}

.footer-row {
  column-count: 3;
}
